Q.01 
Implement the following Function 

def differenceofSum(n. m)

The function accepts two integers n, m as arguments Find the sum of all numbers in range from 1 to m(both inclusive) that are not divisible by n. Return difference between sum of integers not divisible by n with sum of numbers divisible by n.

Assumption:

n>0 and m>0
Sum lies between integral range
Example

Input
n:4
m:20
Output
90

Explanation

Sum of numbers divisible by 4 are 4 + 8 + 12 + 16 + 20 = 60
Sum of numbers not divisible by 4 are 1 +2 + 3 + 5 + 6 + 7 + 9 + 10 + 11 + 13 + 14 + 15 + 17 + 18 + 19 = 150
Difference 150 – 60 = 90
Sample Input
n:3
m:10
Sample Output
19

In [ ]:
n = int(input())
m = int(input())

3
27

In [ ]:
def differenceofSum(n,m):
  sum1 = 0
  sum2 = 0
  for i in range(1,m+1):
    if i%n==0:
        sum1+=i
    else:
        sum2+=i
  a = abs(sum1-sum2)
  return a

In [ ]:
differenceofSum(2,10)

5

Q.02
def LargeSmallSum(arr)

The function accepts an integers arr of size ’length’ as its arguments you are required to return the sum of second largest largest element from the even positions and second smallest from the odd position of given ‘arr’

Assumption:

All array elements are unique
Treat the 0th position a seven
NOTE

Return 0 if array is empty
Return 0, if array length is 3 or less than 3
Example

Input

arr:3 2 1 7 5 4

Output

7

Explanation

Second largest among even position elements(1 3 5) is 3
Second largest among odd position element is 4
Thus output is 3+4 = 7
Sample Input

arr:1 8 0 2 3 5 6

Sample Output

8

In [ ]:
length = int(input())
arr = list(map(int, input().split()))
arr

8
5 4 8 6 2 4 8 6

[5, 4, 8, 6, 2, 4, 8, 6]

In [ ]:
#arr = [2,5,7,8,3,4,23,12]
even_ar= []
odd_ar = []
for i in range(0,len(arr)):
  if i%2==0:
      even_ar.append(arr[i])
  else:
      odd_ar.append(arr[i])
even_ar = sorted(even_ar)
odd_ar = sorted(odd_ar)
sum = even_ar[len(even_ar)-2] + odd_ar[len(odd_ar)-2]
sum

8

In [ ]:
import array as arr  
a = [2, 4, 6, 8] 
print("First element:", a[0])  
print("Second element:", a[1])  
print("Second last element:", a[-1])

First element: 2
Second element: 4
Second last element: 8

**Python program to print the elements of an array present on even position**

In [ ]:
# Programing for reversing a number
def reversarr(arr):
  
  arr = [1,2,3,4,5,6]
  for i in range(len(arr)-1,-1,-1):
    arr1 = arr[i]
    return(arr1)

In [ ]:
#arr = [1,2,3,5,6]
reversarr(arr1)

6

In [ ]:
#Python program to print the largest element in an array
arr = [23,45,6,78,74,82,5,4,52]
max = arr[0]

for i in range(0,len(arr)):
  if arr[i]>max :
      max = arr[i]
print(max)

82

In [ ]:
#Python program to print the smallest element in an array
arr = [23,45,6,78,74,82,5,4,52]
min = arr[0]

for i in range(0,len(arr)):
  if arr[i]<min :
      min = arr[i]
print(min)

4

In [ ]:
# copying all number from one array another array
arr1 = [3,6,5,4,56,54,32]
arr2 = [None]*len(arr1)
for i in range(0,len(arr1)):
    arr2[i] = arr1[i]
print(arr2)
print(arr1)

[3, 6, 5, 4, 56, 54, 32]
[3, 6, 5, 4, 56, 54, 32]

In [ ]:
arr = [2,4,6,7,12,13,1]
for i in range(0, len(arr)):    
    for j in range(i+1, len(arr)):    
        if(arr[i] > arr[j]):    
            temp = arr[i];    
            arr[i] = arr[j];    
            arr[j] = temp;  
print(arr[len(arr)-2])

12

In [ ]:
# Descending Order
arr = [2,4,6,7,12,13,1]
for i in range(0, len(arr)):    
    for j in range(i+1, len(arr)):    
        if(arr[i] < arr[j]):    
            temp = arr[i];    
            arr[i] = arr[j];    
            arr[j] = temp;  
print(arr)

[13, 12, 7, 6, 4, 2, 1]

In [ ]:
arr = [1,4,2]
arr=sorted(arr)
print(arr[len(arr)-2])

2

Q.03
def ProductSmallestPair(sum, arr)

The function accepts an integers sum and an integer array arr of size n. Implement the function to find the pair, (arr[j], arr[k]) where j!=k, Such that arr[j] and arr[k] are the least two elements of array (arr[j] + arr[k] <= sum) and return the product of element of this pair

NOTE

Return -1 if array is empty or if n<2
Return 0, if no such pairs found
All computed values lie within integer range
Example

Input

sum:9

Arr:5 2 4 3 9 7 1

Output

2

Explanation

Pair of least two element is (2, 1) 2 + 1 = 3 < 9, Product of (2, 1) 2*1 = 2. Thus, output is 2

Sample Input

sum:4

Arr:9 8 3 -7 3 9

Sample Output

-21

In [ ]:
#n = int(input())
sum = int(input())
arr = list(map(int, input().split()))
#arr = [5,2,4,3,9,7,1]
a = sorted(arr)
if len(arr)==1:
    print(0) 
elif len(arr)==0:
    print(-1)
elif a[0]+a[1] < sum:
   print(a[0]*a[1])

8
2 5 3
6

In [ ]:
n = int(input())
sum1 = int(input())
arr = list(map(int, input().split()))
if n < 2:
    print('-1')
arr = sorted(arr)
for i in range(n-1):
    if arr[i] + arr[i+1] < sum1:
        print(arr[i] * arr[i+1])
        break
else:
    print('0')

0
5

-1
0

In [ ]:
X = [[1,2,3],  
       [4,5,6],  
       [7,8,9]]  
  
Y = [[10,11,12],  
       [13,14,15],  
       [16,17,18]]  
X[1][2]*Y[1][1]

84

In [ ]:
for i in range(100000,100999):
  if i%9127==0:
    print(i)

100397

In [ ]:
31415**0.5

177.2427713617681

In [ ]:
177.242771**2

31414.999871758442

In [ ]:
177.243**2

31415.081048999997

In [ ]:
177243

In [ ]:
import itertools as it

def is_solution(perm):
    for (i1, i2) in it.combinations(range(len(perm)), 2):
        if abs(i1 - i2) == abs(perm[i1] - perm[i2]):
            return False

    return True

for perm in it.permutations(range(8)):
    if is_solution(perm):
        print(perm)
        exit()

(0, 4, 7, 5, 2, 6, 1, 3)
(0, 5, 7, 2, 6, 3, 1, 4)
(0, 6, 3, 5, 7, 1, 4, 2)
(0, 6, 4, 7, 1, 3, 5, 2)
(1, 3, 5, 7, 2, 0, 6, 4)
(1, 4, 6, 0, 2, 7, 5, 3)
(1, 4, 6, 3, 0, 7, 5, 2)
(1, 5, 0, 6, 3, 7, 2, 4)
(1, 5, 7, 2, 0, 3, 6, 4)
(1, 6, 2, 5, 7, 4, 0, 3)
(1, 6, 4, 7, 0, 3, 5, 2)
(1, 7, 5, 0, 2, 4, 6, 3)
(2, 0, 6, 4, 7, 1, 3, 5)
(2, 4, 1, 7, 0, 6, 3, 5)
(2, 4, 1, 7, 5, 3, 6, 0)
(2, 4, 6, 0, 3, 1, 7, 5)
(2, 4, 7, 3, 0, 6, 1, 5)
(2, 5, 1, 4, 7, 0, 6, 3)
(2, 5, 1, 6, 0, 3, 7, 4)
(2, 5, 1, 6, 4, 0, 7, 3)
(2, 5, 3, 0, 7, 4, 6, 1)
(2, 5, 3, 1, 7, 4, 6, 0)
(2, 5, 7, 0, 3, 6, 4, 1)
(2, 5, 7, 0, 4, 6, 1, 3)
(2, 5, 7, 1, 3, 0, 6, 4)
(2, 6, 1, 7, 4, 0, 3, 5)
(2, 6, 1, 7, 5, 3, 0, 4)
(2, 7, 3, 6, 0, 5, 1, 4)
(3, 0, 4, 7, 1, 6, 2, 5)
(3, 0, 4, 7, 5, 2, 6, 1)
(3, 1, 4, 7, 5, 0, 2, 6)
(3, 1, 6, 2, 5, 7, 0, 4)
(3, 1, 6, 2, 5, 7, 4, 0)
(3, 1, 6, 4, 0, 7, 5, 2)
(3, 1, 7, 4, 6, 0, 2, 5)
(3, 1, 7, 5, 0, 2, 4, 6)
(3, 5, 0, 4, 1, 7, 2, 6)
(3, 5, 7, 1, 6, 0, 2, 4)
(3, 5, 7, 2, 0, 6, 4, 1)
(3, 6, 0, 7, 4, 1, 5, 2)
(3, 6, 2, 7, 1, 4, 0, 5)
(3, 6, 4, 1, 5, 0, 2, 7)
(3, 6, 4, 2, 0, 5, 7, 1)
(3, 7, 0, 2, 5, 1, 6, 4)
(3, 7, 0, 4, 6, 1, 5, 2)
(3, 7, 4, 2, 0, 6, 1, 5)
(4, 0, 3, 5, 7, 1, 6, 2)
(4, 0, 7, 3, 1, 6, 2, 5)
(4, 0, 7, 5, 2, 6, 1, 3)
(4, 1, 3, 5, 7, 2, 0, 6)
(4, 1, 3, 6, 2, 7, 5, 0)
(4, 1, 5, 0, 6, 3, 7, 2)
(4, 1, 7, 0, 3, 6, 2, 5)
(4, 2, 0, 5, 7, 1, 3, 6)
(4, 2, 0, 6, 1, 7, 5, 3)
(4, 2, 7, 3, 6, 0, 5, 1)
(4, 6, 0, 2, 7, 5, 3, 1)
(4, 6, 0, 3, 1, 7, 5, 2)
(4, 6, 1, 3, 7, 0, 2, 5)
(4, 6, 1, 5, 2, 0, 3, 7)
(4, 6, 1, 5, 2, 0, 7, 3)
(4, 6, 3, 0, 2, 7, 5, 1)
(4, 7, 3, 0, 2, 5, 1, 6)
(4, 7, 3, 0, 6, 1, 5, 2)
(5, 0, 4, 1, 7, 2, 6, 3)
(5, 1, 6, 0, 2, 4, 7, 3)
(5, 1, 6, 0, 3, 7, 4, 2)
(5, 2, 0, 6, 4, 7, 1, 3)
(5, 2, 0, 7, 3, 1, 6, 4)
(5, 2, 0, 7, 4, 1, 3, 6)
(5, 2, 4, 6, 0, 3, 1, 7)
(5, 2, 4, 7, 0, 3, 1, 6)
(5, 2, 6, 1, 3, 7, 0, 4)
(5, 2, 6, 1, 7, 4, 0, 3)
(5, 2, 6, 3, 0, 7, 1, 4)
(5, 3, 0, 4, 7, 1, 6, 2)
(5, 3, 1, 7, 4, 6, 0, 2)
(5, 3, 6, 0, 2, 4, 1, 7)
(5, 3, 6, 0, 7, 1, 4, 2)
(5, 7, 1, 3, 0, 6, 4, 2)
(6, 0, 2, 7, 5, 3, 1, 4)
(6, 1, 3, 0, 7, 4, 2, 5)
(6, 1, 5, 2, 0, 3, 7, 4)
(6, 2, 0, 5, 7, 4, 1, 3)
(6, 2, 7, 1, 4, 0, 5, 3)
(6, 3, 1, 4, 7, 0, 2, 5)
(6, 3, 1, 7, 5, 0, 2, 4)
(6, 4, 2, 0, 5, 7, 1, 3)
(7, 1, 3, 0, 6, 4, 2, 5)
(7, 1, 4, 2, 0, 6, 3, 5)
(7, 2, 0, 5, 1, 4, 6, 3)
(7, 3, 0, 2, 5, 1, 6, 4)

N Queens: Backtracking: Code

In [ ]:
#Generating all puzzle
def can_be_extended_to_solution(perm):
    i = len(perm) - 1
    for j in range(i):
        if i - j == abs(perm[i] - perm[j]):
            return False
    return True

def extend(perm, n):
    if len(perm) == n:
        print(perm)
        exit()

    for k in range(n):
        if k not in perm:
            perm.append(k)

            if can_be_extended_to_solution(perm):
                extend(perm, n)

            perm.pop()
extend(perm = [], n = 4)

[1, 3, 0, 2]
[2, 0, 3, 1]

In [ ]:
def sum(a,b):
  c = int(a) + int(b)
  return c

In [ ]:
sum(87,93)

180

Maximum Pair Product

In [ ]:
arr = [1,4,6,2,4,5,12]
a = sorted(arr)
print(a[len(arr)-1]*a[len(arr)-2])

72

Q.04
N-base notation is a system for writing numbers which uses only n different symbols, This symbols are the first n symbols from the given notation list(Including the symbol for o) Decimal to n base notation are (0:0, 1:1, 2:2, 3:3, 4:4, 5:5, 6:6, 7:7, 8:8, 9:9, 10:A,11:B and so on upto 35:Z)

Implement the following function

Char* DectoNBase(int n, int num):

The function accept positive integer n and num Implement the function to calculate the n-base equivalent of num and return the same as a string

Steps:

Divide the decimal number by n,Treat the division as the integer division
Write the the remainder (in  n-base notation)
Divide the quotient again by n, Treat the division as integer division
Repeat step 2 and 3 until the quotient is 0
The n-base value is the sequence of the remainders from last to first
Assumption:

1 < n < = 36

Example

Input

n: 12

num: 718

Output

4BA

![image.png]()


Sample Input

n: 21

num: 5678

Sample Output

CI8

In [ ]:
n = int(input())
num = int(input())
reminder = []
quotient = num//n
reminder.append(num%n)
while (quotient!=0):
  reminder.append(quotient%n)
  quotient= quotient//n
reminder = reversed(reminder)
result = ''
for i in reminder:
  if i>9:
    a = i-9
    a = 64 +a
    result+=chr(a)
  else:
    result+=str(i)
print(result)

12
718
4BA

Question:5
Implement the following functions.a

char*MoveHyphen(char str[],int n);

The function accepts a string “str” of length ‘n’, that contains alphabets and hyphens (-). Implement the function to move all hyphens(.) in the string to the front of the given string.

NOTE:- Return null if str is null.

Example :-

Input:
str.Move-Hyphens-to-Front
Output:
-MoveHyphenstoFront
Explanation:-

The string “Move-Hyphens -to-front” has 3 hyphens (.), which are moved to the front of the string, this output is “— MoveHyphen”

Sample Input

Str: String-Compare
Sample Output-

-StringCompare

In [ ]:
sen = input()
count = 0
result= ""
for i in sen:
  if (i=="-"): 
    count+=1
  else:
    result+=i
print("-"*count,result)

move-hyphens-to-front
--- movehyphenstofront

Question:7
Problem Statement

You are given a function,

Void *ReplaceCharacter(Char str[], int n, char ch1, char ch2);

The function accepts a string  ‘ str’ of length n and two characters ‘ch1’ and ‘ch2’ as its arguments . Implement the function to modify and return the string ‘ str’ in such a way that all occurrences of ‘ch1’ in original string are replaced by ‘ch2’ and all occurrences of ‘ch2’  in original string are replaced by ‘ch1’.

Assumption: String Contains only lower-case alphabetical letters.

Note:

Return null if string is null.
If both characters are not present in string or both of them are same , then return the string unchanged.
Example:

Input:
Str: apples
ch1:a
ch2:p
Output:
Paales
Explanation:

‘A’ in original string is replaced with ‘p’ and ‘p’ in original string is replaced with ‘a’, thus output is paales.

In [ ]:
def swap (user_input, str1, str2):

    result = ''

    if user_input != None:

        result = user_input.replace(str1, '*').replace(str2, str1).replace('*', str2)

        return result

    return 'Null'

user_input = input()

str1, str2 = map(str,input().split())

print(swap(user_input, str1, str2))

apple
a b
bpple

In [ ]:
7//2

3

In [ ]:
def OperationChoices(c,a,b):
  if c==1:
    return(int(a)+int(b))
  elif c==2:
    return(int(a)-int(b))
  elif c==3:
    return(int(a)*int(b))
  elif c==4:
    return(int(a)//int(b))

In [ ]:
c,a,b = map(int,input().split())
OperationChoices(c,a,b)

2 16 20

-4

Problem Statement 

You are required to input the size of the matrix then the elements of matrix, then you have to divide the main matrix in two sub matrices (even and odd) in such a way that element at 0 index will be considered as even and element at 1st index will be considered as odd and so on. then you have sort the even and odd matrices in ascending order then print the sum of second largest number from both the matrices

Example

enter the size of array : 5

enter element at 0 index : 3

enter element at 1 index : 4

enter element at 2 index : 1

enter element at 3 index : 7

enter element at 4 index : 9

Sorted even array : 1 3 9
Sorted odd array : 4 7

10

In [ ]:
l = int(input())
arn =[]
even= []
odd=[]
for i in range(0,l):
  arn= [int(input('Enter element at {} index:'.format(i)))]
  if i%2==0:
     even.append(arn[0])
  else:
     odd.append(arn[0])
even = sorted(even)
odd = sorted(odd)
print('Sorted even array : {} Sorted odd array :{}'.format(even,odd)
print(even[1]+odd[1])

7
Enter element at 0 index:2
Enter element at 1 index:3
Enter element at 2 index:5
Enter element at 3 index:4
Enter element at 4 index:6
Enter element at 5 index:7
Enter element at 6 index:9
Sorted even array : [2, 5, 6, 9] Sorted odd array :[3, 4, 7]
9

In [ ]:
array = []
evenArr = []
oddArr = []
n = int(input("Enter the size of the array:"))
for i in range(0,n):
    number = int(input("Enter Element at {} index:".format(i)))
    array.append(number)
    if i % 2 == 0:
        evenArr.append(array[i])
    else:
        oddArr.append(array[i])

evenArr = sorted(evenArr)
print("Sorted Even Array:", evenArr[0:len(evenArr)])
oddArr = sorted(oddArr)
print("Sorted Odd Array:", oddArr[0:len(oddArr)])
print(evenArr[1] + oddArr[1])

Enter the size of the array:7
Enter Element at 0 index:2
Enter Element at 1 index:3
Enter Element at 2 index:5
Enter Element at 3 index:4
Enter Element at 4 index:6
Enter Element at 5 index:7
Enter Element at 6 index:9
Sorted Even Array: [2, 5, 6, 9]
Sorted Odd Array: [3, 4, 7]
9

In [ ]:
tbl = int(input())
sum=0
for i in range(1,11):
  sum = sum + tbl*i
  print(tbl*i,end=' ')
print()

print(sum)

12
12 24 36 48 60 72 84 96 108 120
660

In [ ]:
palid_n = int(input())
for i in range(1,11)

In [ ]:
# Define a function for counting a exponent of 2 in given number
def countExponents(i):
  count = 0
  while i%2==0 and i!=0:
    i = i//2
    count+=1
  return count

In [ ]:
countExponents(7)

0

In [ ]:
def maxExponents(a,b):
  max = 0
  number = a
  for i in range(a,b):
    temp = countExponents(i)
    if temp> max:
       max = temp
       num = i
       return num
a,b = map(int,input().split())
maxExponents(a,b)

10 50

10

In [ ]:
a = [1, 2, 3]
b = [3, 2, 1]
b,a = a,b

In [ ]:
a,b

([3, 2, 1], [1, 2, 3])

In [ ]:
def Calculate(m,n):
  sum = 0
  for i in range(m,n+1):
    if i%3==0 and i%5==0:
      sum = sum + i
  print(sum)
  
      
m,n = map(int,input().split())
Calculate(m,n)

100 160
510

In [ ]:
def calculate(m,n):
    sum = 0
    for i in range(m,n+1,1):
        if i%3 == 0 and i%5 == 0:
            sum = sum + i
    print(sum)

calculate(100,160)

510

In [ ]:
def febinacci(a):
  sum = 0
  for i in range(0,a):
    sum= sum+i
    print(sum)
a = int(input())

4
0
1
3
6

In [ ]:
a = input()
b= a.lower

In [ ]:
arr =input().split() #take a input as array in string
arr = reversed(arr)
ans = '  '.join(arr)
print(ans)

a t b
bta

In [ ]:
#code for quadratic  equation 
a,b,c = map(int,input().split())
d = b**2 - 4*a*c
if d>=0:
  r1 = (-b + d**0.5)/2*a
  r2 = (-b - d**0.5)/2*a
  print('x1=', r1,'x2=', r2)
else:
  print('Root will be in complex number')

2 1 -300
x1= 48.0 x2= -50.0

In [ ]:
# code for showing the calendar
import calendar 
y,m = map(int,input('Enter year and month: ').split())
print(calendar.month(y,m))

Enter year and month: 2021 5
      May 2021
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

In [ ]:
a = int(input())
for i in range(2,a):
  if a%i==0:
    print('Not Prime number' ,i)
    break

else:
    print('Prime number')

581
Not Prime number 7

In [ ]:
#write a code for finding a factorial
a = int(input())
fac= 1
if(a==0):
  print(1)
else:
  for i in range (1,a+1):
    fac = fac*i
  print(fac)

4
24

In [ ]:
a = int(input())
for i in range (1,11):
  print(a*i)

27
27
54
81
108
135
162
189
216
243
270

In [ ]:
n = int(input())
a= 0
b= 1 
if n<=0:
  print('Enter the positive number')
elif n==1:
  print(a)
else:
  print(a)
  print(b)
  for i in range(2,n):
    c= a+b
    a = b
    b = c
    print(c)

10
0
1
1
2
3
5
8
13
21
34

In [ ]:
# To check the numer is armstrong
import array as arr
a= list(map(int,input().split()))
sum = 0
cube = 0
for i in range(0,len(a)):
  sum= sum+ a[i]
  cube = cube + a[i]**3
if sum ==cube:
  print(a,' is an armstrong Number')
else:
  print(a,' is not an armstrong Number')

1 5 3
[1, 5, 3]  is not an armstrong Number

In [ ]:
n = int(input('Enter a number'))
m = n
sum = 0
while n>0:
  r = n%10
  sum = sum + r**3
  n = n//10
if sum==m:
  print(m,' Is  is an armstrong Number ')
else:
  print(m,'  is not an armstrong Number')

Enter a number256
256   is not an armstrong Number

In [ ]:
n = int(input('Enter a number'))
sum = 0
for i in range(1,n+1):
  sum+=i
sum

Enter a number100

5050

In [ ]:
#Python Program to Convert Decimal to Binary, Octal and Hexadecimal
dec = int(input("Enter a decimal number: "))  
  
print(bin(dec) ,"in binary.")  
print(oct(dec) ,"in octal.")  
print(hex(dec) ,"in hexadecimal.")

Enter a decimal number: 15
0b1111 in binary.
0o17 in octal.
0xf in hexadecimal.

Enter a number: 5

120

In [ ]:
n = input()

m = n
result = n

while(result != 1 and result != 4):    
    result = isHappyNumber(result); 
if result == 1:
  print(m, "is Happy number")
elif result ==4:
  print(m, "is not Happy number")

32

UnboundLocalError: ignored

In [ ]:
count(1)

1

In [ ]:
n = int(input('Enter a number'))
for n in range(1,100):
  def count(n):
    i=0
    while(n>0):
      i+=1
      n = n//10
    return i
  m = n
  sum = 0
  i=count(n)
  while (n>0):
    r = n%10
    sum = sum + r**i
    n = n//10
    i-=1
  if sum==m:
    print(m,'is an Disarium Number ')

Enter a number100
1 is an Disarium Number
2 is an Disarium Number
3 is an Disarium Number
4 is an Disarium Number
5 is an Disarium Number
6 is an Disarium Number
7 is an Disarium Number
8 is an Disarium Number
9 is an Disarium Number
89 is an Disarium Number

In [ ]:
#determine the given number is Harshad number
n = int(input())
m = n
sum = 0
#for i in range(1,n)
  while n>0:
    r = n%10
    sum = sum+r
    n = n//10
  if m % sum ==0 :
    print(m , " is Harshad Number")
else:
  print(m, " is not  Harshad Number")

156
156  is Harshad Number

In [ ]:
def isPronicNumber(n):
  f = False
  for j in range(1,n):
    if (j*(j-1)==n):
      f = True
      break
  return f

In [ ]:
num = int(input())
for i in range(1,num+1):
  if isPronicNumber(i):
    print(i,end='  ')

100
6  12  20  30  42  56  72  90

In [ ]:
#To Sort Words in Alphabetic Order
my_st = input().split()
words = my_st
my_st.sort()
for word in words:
  print(word)

acb
acb

In [ ]:
my_str = input("Enter a string: ")  
# breakdown the string into a list of words  
words = my_str.split()  
# sort the list  
words.sort()  
# display the sorted words  
for word in words:  
   print(word)

Enter a string: love
love

In [ ]:
# define punctuation  
punctuation = '''''!()-[]{};:'"\,<>./?@#$%^&*_~'''  
# take input from the user  
my_str = input("Enter a string: ")  
# remove punctuation from the string  
no_punct = ""  
for char in my_str:  
   if char not in punctuation:  
       no_punct = no_punct + char  
# display the unpunctuated string  
print(no_punct)

Enter a string: I love my country, India
I love my country India

In [ ]:
def rever_str(str):
 str = str[::-1]
 return str

In [ ]:
rever_str('Welcom to mettle')

'elttem ot mocleW'

In [ ]:
n = int(input())
c=0
if (0<n<13):
  for i in range(1,7):
    for j in range(1,7):
      if(i+j==n):
        c+=1
  print(c)
else:
  print(0)

5
4

In [ ]:
def strrever(str):
  vowels = "AaEeIiOoUu"
# Get vowels
  res = set([each for each in stringA if each in vowels])
  reversed(res)

In [ ]:
def reverseVowels(self, s):
      chars = list(s)
      index = []
      vowels = []
      for i in range(len(chars)):
         if chars[i] in ['a','e','i','o','u']:
            vowels.append(chars[i])
            index.append(i)
      vowels = vowels[::-1]
      final = []
      ind = 0
      for i in range(len(chars)):
        if i in index:
          final.append(vowels[ind])
          ind += 1
        else:
          final.append(chars[i])
      str1 = ""
      return str1.join(final)
ob1 = Solution()
print(ob1.reverseVowels("hello"))
print(ob1.reverseVowels("programming"))

NameError: ignored

In [ ]:
!pip install phonenumbers

Collecting phonenumbers
  Downloading https://files.pythonhosted.org/packages/67/19/ef71c8507bb271bcb8d72f627b150ae00c5f809df784b92a89c9b176c7be/phonenumbers-8.12.22-py2.py3-none-any.whl (2.6MB)
     |████████████████████████████████| 2.6MB 4.1MB/s
Installing collected packages: phonenumbers
Successfully installed phonenumbers-8.12.22

In [ ]:
#code for finding a country code
import phonenumbers
number = input('Enter your phone number with country code')
from phonenumbers import geocoder
ch_num = phonenumbers.parse(number,'CH')
print(geocoder.description_for_number(ch_num,"en"))

Enter your phone number with country code+917654799492
India

In [ ]:
from phonenumbers import carrier
ser_number =phonenumbers.parse(number,"RO")
print(carrier.name_for_number(ser_number,"en"))

Idea

In [ ]:
# Given an arrays nums of an n integer where n>1 , return an array output 
#such that output[i] is equal to the product of all the elements of nums except num[i].

In [ ]:
#Print a pascal Triangle
n = int(input())
list1 = []
for i in range(n):
  temp_lst = []
  for j in range(i+1):
    if (j==0 or j==i):
      temp_lst.append(1)
    else:
      temp_lst.append(list1[i-1][j-1] + list1[i-1][j])
  list1.append(temp_lst)
#print(list1)
for i in range(n):
  for j in range(n-i-1):
    print(format(' ',"<2"),end='')
  for j in range(i+1):
    print(format(list1[i][j],'<4'),end='')
  print()

5
        1
      1   1
    1   2   1
  1   3   3   1
1   4   6   4   1

In [ ]:
#n==5
for i in range(n):
  #pdb.set_trace()
  for j in range(n-i-1):
    print(format(' ',"<2"),end='')
  for j in range(i+1):
    print(format("*",'<4'),end='')
  print()

        *
      *   *
    *   *   *
  *   *   *   *
*   *   *   *   *

In [ ]:
num = [x for x in range(20) if x%2==0 if x%5==0]
print(num)

[0, 10]

In [ ]:
x = int(input())
y = int(input())
z = int(input())
n = int(input())

per = [[i,j,k] for i in range(0,x+1) for j in range(0,y+1) for k in range(0,z+1) if i+j+k!=n ]
print(per)

1
2
3
2
[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 0, 3], [0, 1, 0], [0, 1, 1], [0, 1, 2], [0, 1, 3], [0, 2, 0], [0, 2, 1], [0, 2, 2], [0, 2, 3], [1, 0, 0], [1, 0, 1], [1, 0, 2], [1, 0, 3], [1, 1, 0], [1, 1, 1], [1, 1, 2], [1, 1, 3], [1, 2, 0], [1, 2, 1], [1, 2, 2], [1, 2, 3]]

In [ ]:
print([[x, y] for x in [1, 2, 3] for y in [4, 5, 6]])

In [ ]:
arr = list(map(int,input().split()))
n = int(input())
sum = 0
for i in range(n):
  for j in range(1,i+1):
    if (arr[i]<arr[j]):
      c=0
      break
  else:
      c=1
  if c==1:
    sum+=1
  
print(sum+1)

7 9 5 2 8 7
6
3

In [ ]:
glosary = ['apple','ball','cat','girl']
glosary[2][2]

't'

In [ ]:
ord('c')

99

In [ ]:
a,b,n = map(int,input().split())

2 4 5

In [ ]:
r = b/a
frst = a/r
nth = frst*r**(n-1)
nth

16.0

In [ ]:
r = b/a
frst = a/r
for i in range(n-1):
  frst = frst*r
print(frst)

16.0

In [ ]:
arr = map(int, input().split())
arr= list(arr)
arr.sort()
z = max(arr)
while(max(arr)==z):
  arr.remove(max(arr))
max(arr)
#print(arr[len(arr)-2])

2 5 8 3 7
7

In [ ]:
for _ in range(int(input())):
        name = input()
        score = float(input())
        records = []4
        records.append([name, score])

5
Harry
37.2
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39

In [ ]:

records = dict(records)
scores = sorted(set(records.values()))
second_lowest_score = scores[1]
second_lowest_students = [name for name,score in records if score==second_lowest_score]
second_lowest_students.sort()
for name in second_lowest_students:
  print(name)

IndexError: ignored

In [ ]:
n = int(input())
arr = []
for i in range(n):
    name = input()
    marks = float(input())
    arr.append([marks, name])
arr.sort()

5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
Berry
Harry

In [ ]:
arr

[[37.2, 'Tina'],
 [37.21, 'Berry'],
 [37.21, 'Harry'],
 [39.0, 'Harsh'],
 [41.0, 'Akriti']]

In [ ]:
ans = []
for i in range(len(arr) - 1):
    if len(ans) == 0:
        if arr[i][0] != arr[i + 1][0]:
            ans.append(arr[i + 1])
            continue
    if len(ans) > 0:
        if arr[i][0] == arr[i + 1][0]:
            ans.append(arr[i + 1])
        else:
            break
ans.sort()
for i in ans:
    print(i[1])

In [ ]:
marksheet = []
for _ in range(0,int(input())):
    marksheet.append([input(), float(input())])

second_highest = sorted(list(set([marks for name, marks in marksheet])))[1]
print('\n'.join([a for a,b in sorted(marksheet) if b == second_highest]))

5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
Berry
Harry

In [ ]:
num = 1
for i in range(1,5):
  num = num*(i+1)
num

120

In [ ]:
txt = "Hello World" [::-1]
print(txt)

dlroW olleH

In [ ]:
def f(n):
  if n==1:
    return 1

  return n*f(n-1)

In [ ]:
st = input()
l = len(st)
f(l)

abc

6